* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("https://source.unsplash.com/1600x900/?rain,sky,sun,ocean,sea,cloud");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: auto;
  height: auto;
  margin: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5.125);
  color: #fff;
}
.weather {
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  width: 100%;
}
.searchBar,
.searchBtn {
  border-radius: 100px;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  transition: all 0.4s;
}
.searchBar {
  background-color: rgba(100, 101, 102, 0.3);
  padding: 0 1rem;
  color: #fff;
}
.searchBar::placeholder {
  color: rgb(255, 255, 255);
}
.searchBar:focus {
  border: none;
  outline: none;
  background-color: rgba(121, 123, 126, 0.815);
  color: rgb(255, 255, 255);
}
.searchBtn {
  width: 3rem;
  border: none;
  background-color: #fff;
}
.searchBtn:active {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  color: #fff;
}
.city {
  font-size: 2.5rem;
}
.temp {
  font-size: 1rem;
}
.descriptionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .searchBar,
  .searchBtn {
    font-size: 1.2rem;
  }
  .city {
    font-size: 2rem;
  }
}
@media (max-width: 580px) {
  .container {
    padding: 2rem 3rem;
    gap: 2rem;
  }
  .weather {
    gap: 1.3rem;
  }
  .search {
    gap: 0.5rem;
    height: 2.5rem;
    width: 100%;
  }
  .searchBar,
  .searchBtn {
    font-size: 1.1rem;
  }
  .city {
    font-size: 1.5rem;
  }
  .temp,
  .descriptionContainer,
  .humidity,
  .wind {
    font-size: 0.9rem;
  }
}
@media (max-width: 460px) {
  .container {
    padding: 2rem;
    gap: 2rem;
    width: 95%;
  }
  .weather {
    gap: 0.5rem;
  }
  .city {
    font-size: 1.7rem;
  }
  .temp,
  .descriptionContainer,
  .humidity,
  .wind {
    font-size: 1rem;
  }
}
