body {
  height: 97.5vh;
  background-image: linear-gradient(120deg, red, yellow);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  transition: backgroung-image 5s linear;
}
h1 {
  text-align: center;
  font-family: cursive;
  padding: 0;
  color: rgba(70, 0, 0, 0.7);
  font-weight: 900;
}
h2 {
  color: rgba(70, 0, 0, 0.9);
  font-family: cursive;
  font-weight: 500;
}
button {
  outline: none;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: translateY(8px);
}
