body {
  background-image: linear-gradient(
    to top,
    rgb(3, 5, 71),
    rgb(8, 110, 105),
    rgb(255, 255, 255)
  );
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 95%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.digit {
  font-size: 3rem;
  font-weight: 800;
}
.unit {
  padding: 0 1rem;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 0;
}
.btnContainer {
  display: flex;
  gap: 1rem;
}
.btn {
  border: 1px solid #fff;
  outline: none;
  border-radius: 1rem;
  width: 9rem;
  height: 2.5rem;
  font-size: 1.3rem;
  color: #fff;
  transition: all 0.3s;
}
.btn:active {
  transform: scale(0.8);
}
#start {
  background-color: rgb(3, 104, 3);
}
#start:hover {
  background-color: rgb(1, 65, 1);
}
#stop {
  background-color: rgb(211, 12, 12);
}
#stop:hover {
  background-color: rgb(119, 5, 5);
}
#reset {
  background-color: rgb(32, 30, 30);
}
#reset:hover {
  background-color: #000;
}
@media (max-width: 500px) {
  .digit {
    font-size: 2.6rem;
    gap: 0.5rem;
  }
  .btn {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .digit {
    font-size: 2.2rem;
    gap: 0.5rem;
  }
  .unit {
    font-size: 0.8rem;
    padding-right: 3px;
    font-weight: 600;
  }
  .btnContainer {
    gap: 0.6rem;
  }
  .btn {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
  }
}
