@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: rgba(1, 1, 26, 0.938);
  display: flex;
  justify-content: center;
  font-family: "Bree Serif", serif;
}
.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  width: 90%;
  height: min-content;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand {
  font-size: 5rem;
  color: #fff;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  width: 35rem;
  height: 5rem;
}
.searchBar,
.searchBtn {
  border-radius: 100px;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  transition: all 0.4s;
}
.searchBar {
  background-color: rgba(100, 101, 102, 0.3);
  padding: 0 1.5rem;
  color: #fff;
}
.searchBar::placeholder {
  color: rgb(255, 255, 255);
}
.searchBar:focus {
  border: none;
  outline: none;
  background-color: rgba(121, 123, 126, 0.815);
  color: rgb(255, 255, 255);
}
.searchBtn {
  width: 5rem;
  border: none;
  background-color: #fff;
}
.searchBtn:active {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  color: #fff;
}
.searchResult {
  /* margin: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}
.foodImage {
  width: 100%;
}
.item {
  padding: 1rem;
  background-color: #fff;
}
.overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.overviewHeading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 600;
}
.title {
  width: 60%;
}
.overviewDetails {
  font-size: 1.5rem;
  font-weight: 600;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
.viewRecipe {
  background-color: rgba(1, 1, 26, 0.938);
  padding: 0.5rem 0.8rem;
  width: 40%;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    margin: 2rem 0;
    width: 95%;
  }
  .searchResult {
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 30rem;
  }
  .search {
    width: 32rem;
  }
  .header {
    flex-direction: column;
    gap: 3rem;
  }
  .searchResult {
    gap: 1rem;
  }
}

/************************** LOADER **********************************/
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lds-ripple {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 10px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
