html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: lawngreen;
}
.container {
  width: 80%;
  margin: 1rem auto;
  background-color: lightcoral;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
}
