html {
  font-size: 62.5%;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  background: whitesmoke;
  overflow-x: hidden;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1rem;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

/* Loader */
.loader {
  background-color: inherit;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.navigationContainer {
  position: fixed;
  top: 0;
  color: black;
}

.navigationItems {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.background {
  background: whitesmoke;
  position: fixed;
  right: 0;
  width: 100%;
  height: 6rem;
  z-index: -1;
}
.clickable {
  color: rgb(197, 54, 149);
  cursor: pointer;
  user-select: none;
}
.clickable:hover {
  color: rgb(194, 0, 74);
}
h3 {
  margin: 1rem;
}
/* Images Container */
.imagesContainer {
  width: 80rem;
  margin-top: 5rem;
}
.card {
  overflow: hidden;
  background: white;
  margin: 10px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-img-top {
  width: 100%;
  height: auto;
}
.cardBody {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.3rem;
}
.addFav {
  font-weight: 600;
}
.cardTitle {
  margin: 1rem auto;
  font-size: 2.4rem;
}

/* Save Confirmation */
.saveConfirmed {
  background: rgb(55, 228, 20);
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: fixed;
  bottom: 2.5rem;
  right: 5rem;
}

/* Hidden */
.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }
  .imagesContainer {
    width: 100%;
  }
  .card-title {
    font-size: 2rem;
  }
  .saveConfirmed {
    right: 25px;
  }
}
